div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #f8fbff;
    border-radius: 5px;
     }
    
    div::-webkit-scrollbar-thumb {
    background-color: #9fa9bd;
    border-radius: 5px;
    }
    div::-webkit-scrollbar {
    width: 0.5em;
    border-radius: 5px;
    }